*{
    margin: 0;
    padding: 0;
}

.product_img img{
    height: 110px;
    margin: 10px 0;
    cursor: pointer;
    display: block;
    opacity: .7;
}

.product_img img:hover{
    opacity: 1;
}

.product_img{
    float: left;
}

.product{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.img_container img{
    height: 500px;

}

.img_container{
    float: right;
    padding: 15px;
}